<ul class="social-media-list">
    <li>
        <a rel="feed" href="https://joekoop.com/blog/feed.xml" title="rss">
            <svg class="svg-icon grey">
                <use xlink:href="{{ "/assets/minima-social-icons.svg#rss" | relative_url }}"></use>
            </svg>
            <span class="username">rss</span>
        </a>
    </li>
    <li>
        <a rel="me" href="https://github.com/jkoop" target="_blank" title="jkoop">
            <svg class="svg-icon grey">
                <use xlink:href="{{ "/assets/minima-social-icons.svg#github" | relative_url }}"></use>
            </svg>
            <span class="username">jkoop</span>
        </a>
    </li>
</ul>
